@{
    ViewBag.Title = "Unallocate all Classrooms";
}
<div class="container sm100">
    <div class="row st_login_form">
        <div class="col-md-offset-3 col-md-6">
            <div class="addDepartment">
                <h3>Unallocate all Classrooms</h3>
                @using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return ConfirmUnassign()" }))
                {
                    <p align="center">
                        <input type="submit" id="unallocatedClassRoom" name="unallocatedClassRoom" value="Unallocate ClassRooms">
                    </p>
                }
            </div>
        </div>
    </div>
</div>
@{
    if (@ViewData["Message"] != "")
    {
        <script language="javascript">
            alert('@ViewData["Message"]');
        </script>
    }
}
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script type="text/javascript">
    function ConfirmUnassign() {
        var ans = confirm("Are You Sure to Unallocated all Class Rooms?");
        if (ans === true) {
            return true;
        } else {
            return false;
        }
    }

</script>
